cython
git+git://github.com/surfly/gevent@1.0rc2
requests
bsdiff4
pycrypto
pillow
beautifulsoup4
python-dateutil
bottle
git+https://github.com/abourget/gevent-socketio
cffi
git+https://github.com/nietschy/pylibrtmp.git
netaddr
pyv8
dnspython
PyYAML
dulwich
lxml
cchardet
git+https://github.com/nietschy/libmagic.git

